{
  "barkStartTime": "07:00",
  "barkEndTime": "21:00",
  "calendarsToExclude": [
    {
      "name": "Holidays in Australia",
      "id": "24516AA2-7D42-49FE-803F-76F3DE727A53"
    }
  ],
  "eventKeywordsToIgnore": ["no-notify", "focus", "blocked"],
  "voiceOptions": {
    "using": "Karen",
    "speakingRate": 150,
    "pitch": 50,
    "volume": 0.5,
    "modulation": 2,
    "waitForCompletion": true
  }
},
{
"voiceOptions": {
	"using": "Supported voice names by AppleScript",
	"speakingRate": "Integer value between 50 and 300 words per minute",
	"pitch": "Integer value between 0 and 100 (0 = lowest pitch, 100 = highest pitch)",
	"volume": "Float value between 0.0 and 1.0 (0.0 = silent, 1.0 = maximum volume)",
	"modulation": "Integer value between 0 and 10 (0 = no modulation, 10 = highest modulation)",
	"waitForCompletion": "Boolean value (true or false)"
  }
}